.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.logo__webletters {
  color: var(--accent-color);
}
.logo__dark-theme {
  color: var(--white-color);
}
