:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --project-list-item-gap: 30px;
  --icon-color: #afb1b8;
}
/* Текст основного текста (Заголовки) #212121 */
/* Вторичный цвет текста #757575 */
/* белый #ffffff */
/* акцент #2196F3 */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона - Эффективные решения и Футер #2F303A */
/* вторичный цвет фона - Наша команда #F5F4FA */
